#container_map {
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
}

#map {
    margin: 0;
    height: 100%;
    z-index: -10;
}

#coord { font-size: 0.9em; background-color: white; opacity: 0.8; z-index: 50; position: absolute; bottom: 0.5em; left: 0.5em; height: auto; visibility: hidden; }

#info { font-size: 0.9em; background-color: white; opacity: 0.8; z-index: 50; position: absolute; bottom: 0.5em; left: 0.5em; height: auto; padding: 0 0.5em; border: 1px solid #0070C0; visibility: hidden; }

.ol-zoom { top: 5em !important; }

#container_time {
    bottom: 3em;
    right: 0.5em;
    position: absolute;
    z-index: 10;
    margin: 1px;
}

.container_time_layer {
    margin-bottom: 5px;
    clear: right;
    float: right;
}

#container_legend {
    position: fixed;
    bottom: .5em;
    left: .5em;
    z-index: 10;
}

.legend {
    max-width: 300px;
    max-height: 300px;
    margin-right: .5em;
    border: 1px solid #003C88;
    vertical-align: bottom;
}

.legend_bottom {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

.time_title {
    font-size: 0.8em;
    color: #003C88;
    background-color: rgba(190, 210, 255, .5);
    padding-right: 0.2em;
}

.time_section {
    float: left;
}

.hidden {
    display: none;
}

.time_label {
    display: none;
}

.time_label_active {
    border-left: 2px solid rgba(0, 60, 136, .7);
    color: #003C88;
    display: block;
    background-color: rgba(190, 210, 255, .5);
    margin-left: 2px;
    font-size: 0.8em;
    padding-left: 0.3em;
}

.time_label_adjust {
    background-color: transparent;
    visibility: hidden;
    font-size: 0.8em;
}

.time_element {
    padding: 0.3em;
    font-size: 0.8em;
    border: 2px solid rgba(255, 255, 255, .8);
    color: white;
    background-color: rgba(0, 60, 136, .5);
    float: left;
    cursor: pointer;
    border-radius: 4px;
}

.time_element:hover {
    background-color: rgba(0, 60, 136, .7);
}

.time_element_selected {
    background-color: rgba(0, 60, 136, .7);
    font-weight: bold;
}

.time_step {
    display: inline-block;
    text-decoration: none;
    padding: .4em .9em .4em .5em;
    border-radius: 50%;
    background-color: rgba(0, 60, 136, .7);
    line-height: .8em;
    width: .3em;
    height: .9em;
    color: white;
    font-size: .8em;
    float: right;
    margin: .2em .1em;
}

.time_step:hover {
    background-color: rgba(0, 60, 136, .7);
}

.time_steps {
    margin-left: .5em;
    margin-right: .5em;
    padding: .1em 0;
}

.layer-switcher { top: 6em !important; font-size: 0.8em; }

.layer-switcher button {
    background-color:transparent!important;
}

.layer-switcher .panel {
    color: #003C88;
}


