#container_map {
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
}

#map {
    margin: 0;
    height: 100%;
    z-index: -10;
}

a {
    text-decoration: none;
}

#coord {
    top: 6.5em;
    left: 3.5em;
    position: absolute;
    font-size: 0.8em;
    z-index: 50;
    background-color: white;
    color: black;
    opacity: 0.8;
    padding: 0 .3em;
}

#highlight_info {
    font-size: 0.8em;
    background-color: white;
    color: #003C88;
    opacity: 0.8;
    display:none;
    padding: 0 .3em;
    position:absolute;
    z-index:100;
}

.ol-zoom { top: 5em !important; }

#container_info {
    display: none;
    width: 20%;
    color: #003C88;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 70px;
    bottom: 0;
    z-index: 50;
    overflow-y: auto;
    border-right: 2px solid #003C88;
}

#container_time {
    bottom: 3em;
    right: 0.5em;
    position: absolute;
    z-index: 10;
    margin: 1px;
}

.container_time_layer {
    margin-bottom: 5px;
    clear: right;
    float: right;
}

#container_legend {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    width: auto;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.legend {
    max-width: 300px;
    max-height: 300px;
    margin: .5em;
    border: 1px solid #003C88;
    vertical-align: bottom;
}

.legend_bottom {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

#container_graph {
    display:none;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 200;
    background-color: white;
    opacity: 0.9;
    height:30%;
}

.area {
    clip-path: url(#clip);
}

.line {
    fill: none;
    stroke-width: 1px;
    clip-path: url(#clip);
}

.bar {
    clip-path: url(#clip);
}

.dot {
    stroke: none;
    clip-path: url(#clip);
}

.brush .handle {
    fill: red;
}

.brush .selection {
    fill-opacity: 0.1;
}

.axis .tick text {
    stroke: white;
    stroke-width: 2;
    paint-order: stroke;
}

.axis_label {
    display: none;
}

#graph_overlay {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.tooltip_line {
    stroke: #003C88;
    stroke-width: 1px;
    left: 10px;
    opacity: 0;
}

.tooltip_text {
    stroke: none;
    font-size: .7em;
}

.info_item {
    margin: 10px;
}

.property_layer {
    font-size:0.8em;
}

.property_id {
    color: #003C88;
    cursor: pointer;
}

.property_name {
    font-size: 0.8em;
    color: #003C88;
    margin-left: 1em;
}

.property_value {
    font-size: 0.8em;
    color: black;
}

.property_links {
    color: #003C88;
    font-size: 0.8em;
}

.property_link:hover {
    color: #0054c4;
    cursor: pointer;
    text-decoration: underline;
}

.property_link_selection {
    padding: .1em .3em;
}

.property_download {
    background: url(../img/property-download.png) no-repeat;
    background-size: 1.4em;
    padding-left: 1.7em;
}

.property_graph {
    background: url(../img/property-graph.png) no-repeat;
    background-size: 1.4em;
    padding-left: 1.7em;
}

.property_info {
    background: url(../img/property-info.png) no-repeat;
    background-size: 1.4em;
    padding-left: 1.7em;
}

.property_process {
    background: url(../img/property-process.png) no-repeat;
    background-size: 1.4em;
    padding-left: 1.7em;
}

.time_title {
    font-size: 0.8em;
    color: #003C88;
    background-color: rgba(190, 210, 255, .5);
    padding-right: 0.2em;
}

.time_section {
    float: left;
}

.hidden {
    display: none;
}

.time_label {
    display: none;
}

.time_label_active {
    border-left: 2px solid rgba(0, 60, 136, .7);
    color: #003C88;
    display: block;
    background-color: rgba(190, 210, 255, .5);
    margin-left: 2px;
    font-size: 0.8em;
    padding-left: 0.3em;
}

.time_label_adjust {
    background-color: transparent;
    visibility: hidden;
    font-size: 0.8em;
}

.time_element {
    padding: 0.3em;
    font-size: 0.8em;
    border: 2px solid rgba(255, 255, 255, .8);
    color: white;
    background-color: rgba(0, 60, 136, .5);
    float: left;
    cursor: pointer;
    border-radius: 4px;
}

.time_element:hover {
    background-color: rgba(0, 60, 136, .7);
}

.time_element_selected {
    background-color: rgba(0, 60, 136, .7);
    font-weight: bold;
}

.time_step {
    display: inline-block;
    text-decoration: none;
    padding: .4em .9em .4em .5em;
    border-radius: 50%;
    background-color: rgba(0, 60, 136, .7);
    line-height: .8em;
    width: .3em;
    height: .9em;
    color: white;
    font-size: .8em;
    float: right;
    margin: .2em .1em;
}

.time_step:hover {
    background-color: rgba(0, 60, 136, .7);
}

.time_steps {
    margin-left: .5em;
    margin-right: .5em;
    padding: .1em 0;
}

.layer-switcher { top: 6em !important; font-size: 0.8em; }

.layer-switcher button {
    background-color:transparent!important;
}

.legendDiv {
    display: table;
}

.layer-switcher .panel {
    color: #003C88;
}

.ui-slider {
    width:150px;
    margin:.3em 1.5em .5em 1.5em;
    height: .3em !important;
    background-color: rgba(0, 60, 136, .7) !important
}

.ui-slider .ui-slider-handle {
    border-radius: 50%;
    top: -.4em !important;
}


