#container_map {
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
}

#map {
    margin: 0;
    height: 100%;
    z-index: -10;
}

#refresh {
    position: fixed;
    top: 20px;
    right: 15px;
    width: 30px;
    height: 30px;
    z-index: 100;
    background: url(../img/symbol_refresh.png);
    background-size: 30px;
    cursor: pointer;
}

#refresh:hover {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

a {
    text-decoration: none;
}

#coord {
    top: 80px;
    left: 40px;
    position: absolute;
    font-size: 0.8em;
    z-index: 50;
    background-color: white;
    color: black;
    opacity: 0.8;
    padding: 0 .3em;
    transition: 0.3s;
}

#highlight_info {
    font-size: 0.8em;
    background-color: white;
    color: #003C88;
    opacity: 0.8;
    display:none;
    padding: 0 .3em;
    position:absolute;
    z-index:100;
}

.ol-zoom {
    top: 80px !important;
    transition: 0.3s;
}

.ol-attribution {
    transition: 0.3s;
}

#container_info {
    width: 0;
    color: #FFFFFF;
    background-color: rgba(0, 112, 192, 0.8);
    position: absolute;
    left: 0;
    top: 70px;
    bottom: 0;
    z-index: 50;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
}

#container_time {
    bottom: 40px;
    right: 0.5em;
    position: absolute;
    z-index: 10;
    margin: 1px;
    transition: 0.3s;
}

.container_time_layer {
    margin-bottom: 5px;
    clear: right;
    float: right;
}

#container_legend {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    width: auto;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: flex-end;
    transition: 0.3s;
}

.legend {
    max-width: 300px;
    max-height: 300px;
    margin: .5em;
    border: 1px solid #003C88;
    vertical-align: bottom;
}

.legend_bottom {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

#container_graph {
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 200;
    background-color: white;
    opacity: 0.9;
    height:0;
    transition: 0.3s;
}

.layer-switcher {
    z-index: 500;
}

.area {
    clip-path: url(#clip);
}

.line {
    fill: none;
    stroke-width: 1px;
    clip-path: url(#clip);
}

.bar {
    clip-path: url(#clip);
}

.dot {
    stroke: none;
    clip-path: url(#clip);
}

.brush .handle {
    fill: red;
}

.brush .selection {
    fill-opacity: 0.1;
}

.axis .tick text {
    stroke: white;
    stroke-width: 2px;
    paint-order: stroke;
}

.axis_label {
    display: none;
}

.axis-top {
    stroke: #AAAAAA;
    stroke-width: 1px;
}

#graph_overlay {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.tooltip_line {
    stroke: #003C88;
    stroke-width: 1px;
    left: 10px;
    opacity: 0;
}

.tooltip_text {
    stroke: none;
    font-size: .7em;
}

.info_item {
    margin: 10px;
    clear: both;
}

.info_item hr {
    color:white;
}

.property_layer {
    font-size:0.9em;
    font-variant: all-small-caps;
}

.property_id {
    color: #FFFFFF;
    cursor: pointer;
}

.property_name {
    font-size: 0.9em;
    font-variant: all-small-caps;
    color: #FFFFFF;
    margin-left: 1em;
}

.property_value {
    font-size: 1em;
    color: #FFFFFF;
}

.time_title {
    font-size: 0.8em;
    color: #003C88;
    background-color: rgba(190, 210, 255, .5);
    padding-right: 0.2em;
}

.time_section {
    float: left;
}

.hidden {
    display: none;
}

.time_label {
    display: none;
}

.time_label_active {
    border-left: 2px solid rgba(0, 60, 136, .7);
    color: #003C88;
    display: block;
    background-color: rgba(190, 210, 255, .5);
    margin-left: 2px;
    font-size: 0.8em;
    padding-left: 0.3em;
}

.time_label_adjust {
    background-color: transparent;
    visibility: hidden;
    font-size: 0.8em;
}

.time_element {
    padding: 0.3em;
    font-size: 0.8em;
    border: 2px solid rgba(255, 255, 255, .8);
    color: white;
    background-color: rgba(0, 60, 136, .5);
    float: left;
    cursor: pointer;
    border-radius: 4px;
}

.time_element:hover {
    background-color: rgba(0, 60, 136, .7);
}

.time_element_selected {
    background-color: rgba(0, 60, 136, .7);
    font-weight: bold;
}

.time_step {
    display: inline-block;
    text-decoration: none;
    padding: .4em .9em .4em .5em;
    border-radius: 50%;
    background-color: rgba(0, 60, 136, .7);
    line-height: .8em;
    width: .3em;
    height: .9em;
    color: white;
    font-size: .8em;
    float: right;
    margin: .2em .1em;
}

.time_step:hover {
    background-color: rgba(0, 60, 136, .7);
}

.time_steps {
    margin-left: .5em;
    margin-right: .5em;
    padding: .1em 0;
}

.layer-switcher {
    top: 6em !important;
    font-size: 0.8em;
}

.layer-switcher button {
    background-color:transparent!important;
}

.layer-switcher ul {
    padding-left:0!important;
}

.legendDiv {
    display: table;
}

.layer-switcher .panel {
    color: #003C88;
    padding: 0 10px!important;
    width: 250px;
}

.layer-switcher li.group label {
    margin-left:4px;
}

.layer-switcher li.group li.layer {
    margin: 2px 4px;
}

.layer-switcher input[type="checkbox"] {
    display:none!important;
}

.layer-switcher input[type="checkbox"] + label {
    padding-left: 4px;
    cursor: pointer;
}

.layer-switcher input[type="radio"] {
    margin-left: 0;
}

.layer-switcher input[type="radio"] + label {
    cursor: pointer;
}


/*.layer-switcher input[type="checkbox"]:not(:checked) + label{
    border-left: 15px solid #AAAAAA;
}
.layer-switcher input[type="checkbox"]:checked + label {
    border-left: 15px solid #EEEEEE;
}*/

/*
.layer-switcher input[type="checkbox"]:not(:checked) + label:before,
.layer-switcher input[type="checkbox"]:checked + label:before {
    content: '';
    display:block;
    width: 17px;
    height: 17px;
    border: 1px solid #aaa;
    border-radius: 3px;
    float:left;
    margin: 1px 4px;
}

.layer-switcher input[type="checkbox"] + label:hover:before {
    border: 1px solid black!important;
}

.layer-switcher input[type="checkbox"]:not(:checked) + label:before {
    background-color: #aaa;
}

.layer-switcher input[type="checkbox"]:checked + label:before {
    background-color: #fff;
}*/

.ui-slider {
    width:150px;
    margin: 2px 0;
    height: 2px !important;
}

.ui-slider .ui-slider-handle {
    height: 8px !important;
}

.sensor_div {
    margin: 2px 4px 2px 0;
    float: left;
}

.sensor_info {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    border: 2px solid white;
    color: #003C88;
    text-align: center;
}

.sensor_info:hover {
    border-color: #ffca28;
}

.sensor_info_selected {
    border: 2px solid #ff6f00;
}

.sensor_latest {
    font-size: 0.7em;
    margin-top: 35px;
}

.sensor_details {
    clear: both;
    height:0;
    transition: 0.3s;
    overflow:hidden;
    width:100%;
}

.sensor_details a {
    text-decoration: none;
}

.sensor_sym {
    color: #FFFFFF;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    float: left;
    display: block;
    cursor: pointer;
    margin-top: 4px;
    padding-left: 4px;
    font-size:0.8em;
}

.sensor_sym:hover {
    color: #ffca28;
}

.sensor_sym_download {
    background-image: url(../img/symbol_download.png);
}

.sensor_sym_graph {
    background-image: url(../img/symbol_graph.png);
}

.sensor_sym_graph_selected {
    background-image: url(../img/symbol_graph_selected.png);
}

.sensor_sym_info {
    background-image: url(../img/symbol_info.png);
}

.sensor_sym_process_vhs {
    background-image: url(../img/symbol_process_vhs.png);
}

.sensor_sym_process_vhs_selected {
    background-image: url(../img/symbol_process_vhs_selected.png);
}

.sensor_sym_process_ezg {
    background-image: url(../img/symbol_process_ezg.png);
}

.sensor_sym_process_ezg_selected {
    background-image: url(../img/symbol_process_ezg_selected.png);
}

.sensor_sym_process_rw {
    background-image: url(../img/symbol_process_rw.png);
}

.sensor_sym_process_rw_selected {
    background-image: url(../img/symbol_process_rw_selected.png);
}

.sensor_sym_process_bf {
    background-image: url(../img/symbol_process_bf.png);
}

.sensor_sym_process_bf_selected {
    background-image: url(../img/symbol_process_bf_selected.png);
}

.sensor_sym_param {
    background-size: auto 30px;
    background-position: center 2px;
    background-repeat: no-repeat;
}

.sensor_sym_param_rain {
    background-image: url(../img/symbol_rain.svg);
}

.sensor_sym_param_globalrad {
    background-image: url(../img/symbol_globalrad.svg);
}

.sensor_sym_param_temperature {
    background-image: url(../img/symbol_temperature.svg);
}

.sensor_sym_param_cloudcover {
    background-image: url(../img/symbol_cloudcover.svg);
}

.sensor_sym_param_humidity {
    background-image: url(../img/symbol_humidity.svg);
}

.sensor_sym_param_pressure {
    background-image: url(../img/symbol_pressure.svg);
}

.sensor_sym_param_level {
    background-image: url(../img/symbol_level.svg);
}

.sensor_sym_param_discharge {
    background-image: url(../img/symbol_discharge.svg);
}

.sensor_sym_param_wind {
    background-image: url(../img/symbol_wind.svg);
}